<% provide(:page, "All Events") %>
<h1 class="is-size-3">All events</h1>
<hr>
<div class="column">
    <%= will_paginate(@upcoming_events) %>
</div>
<p class="is-size-5 subtitle">Upcoming events</p>
<div class="box">
    <ul>
        <% @upcoming_events.each do |event| %>
            <li class="list-item">
                <p><%= link_to(event.name, event_path(event)) %></p>
                <p>On: <%= event.date %> <span class="has-text-grey">(<%= event_date_in_words(event) %>)</span></p>
                <p>Created by: <%= link_to(event.creator.username, user_path(event.creator)) %></p>
            </li>
        <% end %>
    </ul>
</div>
<p class="is-size-5 subtitle">Previous events</p>
<div class="box">
    <ul>
        <% @previous_events.each do |event| %>
            <li class="list-item">
                <p><%= link_to(event.name, event_path(event)) %></p>
                <p>On: <%= event.date %> <span class="has-text-grey">(<%= event_date_in_words(event) %>)</span></p>
                <p>Created by: <%= link_to(event.creator.username, user_path(event.creator)) %></p>
            </li>
        <% end %>
    </ul>
</div>
<div class="column">
    <%= will_paginate(@upcoming_events) %>
</div>