<% provide(:page, "All Events") %>
<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<h1>Upcoming events:</h1>
<ul>
    <% @upcoming_events.each do |event| %>
        <li><%= link_to(event.description, event_path(event)) %>On: <%= event.date %> Created by: <%= link_to(event.creator.username, user_path(event.creator)) %></li>
    <% end %>
</ul>
<h1>Previous events:</h1>
<ul>
    <% @previous_events.each do |event| %>
        <li><%= link_to(event.description, event_path(event)) %> On: <%= event.date %> Created by: <%= link_to(event.creator.username, user_path(event.creator)) %></li>
    <% end %>
</ul>