<% provide(:page, "New Event") %>

<h1 class="is-size-3">Create a new event</h1>
<hr>
<div class="columns">
    <div class="column is-6">
        <%= form_with(model: @event, local:true) do |f| %>
            <div class="field">
                <%= f.label :name, class: "label" %>
                <%= f.text_field :name, class: "control input" %>
            </div>
            
            <div class="field">
                <%= f.label :description, class: "label" %>
                <%= f.text_area :description, class: "control textarea", rows: "10" %>
            </div>

            <div class="field">
                <%= f.label :date, class: "label" %>
                <%= f.datetime_select :date, class: "control"%>
            </div>
            
            <div class="field">
                <%= f.label :location, class: "label" %>
                <%= f.text_field :location, class: "control input" %>
            </div>

            <%= f.submit :submit, class: "control button is-link"%>
        <% end %>
    </div>
</div>
