<% provide(:page, @event) %>
<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<%= @event.description %>
<%= @event.date %>

<%= form_with(model: @invitation, url: invitations_path(event_id: params[:id]), local: true) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :event_invitee %>

    <%= f.submit :send_invitation %>
<% end %>

<p>Created by: <%= link_to(@event.creator.username, user_path(@event.creator)) %></p>
<h1>Attendees</h1>

<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= link_to(attendee.username, user_path(attendee)) %></li>
    <% end %>
</ul>
    