<% provide(:page, "Invitation for " + @invitation.invited_event.name) %>
<p class="subtitle is-size-3"><%= @invitation.event_invitee.username %>, you've been invited to . . .</p>
<div class="box center">
    <div class="columns center">
        <div class="column is-8">
            <%= render 'shared/event' %>
            <p class="subtitle center">
                <%= link_to("Accept invitation", invitation_path(@invitation, response: true), method: :patch, class: "button is-primary") %>
            </p>
            <p class="subtitle center">
                <%= link_to("Decline invitation", invitation_path(@invitation, response: false), method: :patch, class: "button is-warning") %>
            </p>
            <p class="has-text-right">
            <%= link_to("Delete invitation", invitation_path(@invitation), method: :delete, class: "delete-link",
                            data: { confirm: "Are you sure you want to delete this invitation?" }) %>
            </p>
        </div>
    </div>
</div>