<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <%= link_to("Private Events", root_path, class: "navbar-item is-size-3") %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <%= link_to("All events", events_path, class: "navbar-item") %>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <% if logged_in? %>
                    <h1 class="navbar-item is-hidden-touch">Welcome <%= current_user.username %>!</h1>
                    <%= link_to("Create new event", new_event_path, class: "button is-primary") %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                        Account
                        </a>

                        <div class="navbar-dropdown">
                        <%= link_to("Profile", user_path(current_user), class: "navbar-item") %>
                        <hr class="navbar-divider">
                        <%= link_to("Log out", logout_path, method: :delete, class: "navbar-item") %>
                        </div>
                    </div>
                <% else %>
                    <%= link_to("Log in", login_path, class: "button is-link") %>
                <% end %>
            </div>
        </div>
    </div>
</nav>
<script type="text/javascript">
    document.querySelector(".navbar-burger").addEventListener("click", () => {
    document.querySelector(".navbar-burger").classList.toggle("is-active");
    document.querySelector(".navbar-menu").classList.toggle("is-active");
    });
</script>
