<h1>Private Events</h1>
<%= link_to("All events", events_path) %>
<% if logged_in? %>
    <h1>Hello, <%= link_to("#{current_user.username}", user_path(current_user)) %>.</h1>
    <%= link_to("Create new event", new_event_path) %>
    <%= link_to("Log out", logout_path, method: :delete) %>
<% else %>
    <%= link_to("Log in", login_path) %>
<% end %>